/* caret
----------------------- */
.caret_select {
  position: relative;
  z-index: 0;
  display: inline-block;
  // width: 100%;
  &::after {
    content: "\f107";
    display: block;
    position: absolute;
    font-family: "FontAwesome";
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: inherit;
    z-index: 0;
    pointer-events: none;
    right:          12px;
    top:            calc(50% - 10px);
    line-height:    20px;
  }
  select {
    padding-right:  30px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    &[disabled=disabled] {
      cursor: auto;
    }
  }
}