$fc_pd:             4px;

$fc_tt_silent:      #666;
$fc_tt_silent_bg:   #eee;

$fc_txt_size:       14px;
$fc_tt_silent_size: 14px;

$fc_mobile_max:     $screen-sm-max;
$fc_desktop_min:    $screen-md-min;

$paddingNormal:     16px;