.menu_wrapper {
	position: fixed;
	right: calc(50% - 600px);
	z-index: 1030; 
}
.menu {
	@include clearfix();
	width: 500px;
	background-color: #eee;
	li {
		display: block;
		float: left;
	}
	a {
		display: block;
		padding: 15px;
	}
}