$modal_open_z: 1040;
.webWork_section {
	overflow: visible;
}
.grid_webWork {
	$space: 15px;
	@include clearfix();
	@include col(0, 0);
	@include col(xs, 9);
	@include grid_space($space);
	.item {
		position: relative;
		@include col(0, 0);
		@include col(xs, 20%);
		padding-bottom: $space;
		overflow: visible;
		cursor: pointer;
	}
	.item, .img, .mask {  
		@include transition(all ease-in-out .35s);
	}
	.img {
		@include bgi_img(1, 1, 100%);
		@include bg-img(contain, 1);
		background-color: #eee;
	}
	.mask {
		position: absolute;
		top: 0;
		left: 0;
		width: calc(100% - #{$space});
		height: calc(100% - #{$space});
		z-index: 0;
		background-color: #f8f8f8;
		opacity: 0;
	}
	.item {
		&.expand {
			z-index: $modal_open_z;
			.mask {
				$offset: 10px;
				width: calc(100vw + #{$offset} * 2);
				height: calc(100vh + #{$offset} * 2);
			}
		}
		&.mask-show {
			.mask {
				opacity: 1;
			}
		}
		&.img-fade {
			.img {
				opacity: 0;
			}
		}
	}
}

// modal
.workModal {
	position: fixed;
	left: 0;
	top: 0;
	z-index: $modal_open_z + 1;
	width: 100%;
	height: 100%;
	overflow-y: auto;
	@include clearfix();
	&, .modal_content {
		@include transition(all .5s ease-in-out);
	}
	// header
	.modal_header {
		padding-top: 60px;
		padding-bottom: 30px;
	}
	.modal_header, .title, .notes, .date, .workLink {
		text-align: center;
	}
	.notes {
		li {
			display: inline-block;
		}
		li + li:before {
			content: '/';
			margin: 0 8px;
			color: $exLightText;
			display: inline-block;
		}
	}

	// body
	.modal_body {
		padding: 0 60px;
	}
	.img {
		box-shadow: $sOn;
		width: 1200px;
		max-width: 100%;
	}

	// modal
	display: none;
	opacity: 0;
	.modal_content {
		@include transform(translateY(-60px));
	}
	&.open {
		opacity: 1;
		.modal_content {
			@include transform(translateY(0)); 
		} 
	}
}

.modal_close {
	$size: 24px;
	display: block;
	position: fixed;
	right: 18px;
	top: 10px;
	width: $size;
	height: $size;
	cursor: pointer;
	&:before, &:after {
		content: '';
		position: absolute;
		width: $size;
		height: 2px;
		background-color: $lightText;
		top: calc(50% - 1px);
		left: 0;
		@include border-radius(1px);
		@include transform-origin(center);
		@include transition1s();
	}
	&:before {
		@include transform(rotate(45deg));
	}
	&:after {
		@include transform(rotate(-45deg));
	}
	&:hover {
		&:before, &:after {
			background-color: darken($lightText, 25);
		}
	}
}

// body
.disable-scroll { 
	overflow-y: hidden;
	padding-right: 8px;
}



